.calculator {
    max-width: 300px;
    margin: 0 auto;
}

#display {
    text-align: right;
}

.btn {
    font-size: 1.5rem;
    margin: 2px;
}

#history{
    list-style-type: none;
    list-style: none;
    font-size: 1.2rem;
}

#history li{
}